html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    margin: 0;
    padding: 0;
    height: 87%;
    width:auto;
    background-color: #0d1117;
}

#toolbar {
    float:left;
    width: 20%;
    height: 100%;
    background-color: #010409;
}

#toolbar button{
    margin: 10%;
    display:block;
    width:80%;
    appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #caccce;
    border-radius: 15px;
    box-sizing: border-box;
    color: #806143;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#toolbar .setWordBtn{
    display:inline-block;
    width:25%;
    margin: 0% 10% 10% 0%;
    padding: 6px 10px;
}
  
#toolbar button:hover {
    color: #CCA66F;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
#toolbar button:active {
    box-shadow: none;
    transform: translateY(0);
}

#toolbar input{
    display:inline-block;
    width:35%;
    margin: 0% 7% 10% 10%;
    border: 0;
    outline: 0;
    min-height: 50px;
    font-size: 16px;
    text-align: center;
}

p{
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #caccce;
    margin: 0% 10% 10% 10%;
    text-align: center;
    font-size: 25px;
}

#drawingBoard{
    background-color: white;
    margin: 2% 0% 0% 0%;
}

/* Main navbar styling */
nav {
    display: flex; /* Use flexbox for easy alignment */
    justify-content: space-between; /* Space between the items */
    align-items: center; /* Align items vertically */
    background-color: #BA9063; /* Set background color */
    padding: 0 20px; /* Adjust padding to suit your design */
}

/* Navbar home link styling */
.navbar-home {
    display: flex;
    align-items: center; /* Center align the items vertically */
    margin-left: 50px;
}

/* Navbar other links styling */
.navbar-links {
    display: flex;
    gap: 10px; 
    margin-right: 100px;
}

/* Generic link styling */
.navbar-link {
    color: maroon;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
}

/* Image inside navbar link */
.navbar-img {
    width: 60px;
    height: 60px;
    /* margin-right: 10px;  */
}

/* Ensure the list is displayed as a flex container */
.ulList {
    display: flex;
    justify-content: center; /* Centering the list items */
    width: 100%;
}


/*  */
/*  */
/*  */
/*  */

.folder-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.folder-section h3 {
    margin-top: 0;
}

#folderSelect, #fileDisplayArea {
    margin: 20px;
}

#fileDisplayArea img {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* .confirmation-section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    background-color: #010409; 
    border-radius: 10px; 
} */

/* .label-description {
    color: #caccce; 
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
} */

.button {
    appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #caccce;
    border-radius: 15px;
    color: #806143;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: auto; /* Allow buttons to grow as needed */
}